// Navigation code here

header {
  max-width: 960px;
  background-color: whitesmoke;
  width: 100%;
  margin: 0 auto;

  @media screen @phone {
      max-width: 500px;
  }
}

.logo {
  .flex-row (center, flex-end);
  .width();
  margin: 20px auto;

  @media screen and @phone {
    max-width: 500px;
    width: 100%;
    color: red;
  }


}

.header-img {
    .width();
}

.nav-header {
  .flex-row (space-around, flex-end);
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.4;

  @media screen and @phone {
    max-width: 350px;
}

  a {
    .link-styling();
  }
}
